<a href="https://colab.research.google.com/github/916jun/pdm02/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()        데이터프레임의 위 5
- tail()        데이터프레임의 아래 5
- describe()    각열의 데이터들의 특성
- info()        데이터 비교

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [7]:
df.head(2)

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796

In [8]:
df.tail(3)

                   A         B         C         D
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [10]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [12]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.391640  0.190908 -0.459369  0.354652
std    0.387616  0.572437  0.695977  0.474005
min   -0.875712 -0.834998 -1.192753 -0.178104
25%   -0.711257  0.032087 -1.034953  0.037235
50%   -0.338189  0.329556 -0.579028  0.234333
75%   -0.114322  0.584431  0.157584  0.749372
max    0.077563  0.719016  0.378401  0.944764

In [16]:
df.describe().T      #T전치행렬

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.391640  0.387616 -0.875712 -0.711257 -0.338189 -0.114322  0.077563
B    6.0  0.190908  0.572437 -0.834998  0.032087  0.329556  0.584431  0.719016
C    6.0 -0.459369  0.695977 -1.192753 -1.034953 -0.579028  0.157584  0.378401
D    6.0  0.354652  0.474005 -0.178104  0.037235  0.234333  0.749372  0.944764

In [17]:
df

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [15]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    0.077563   -0.875712   -0.485561   -0.190818   -0.786489   -0.088824
B    0.228965    0.719016   -0.033540    0.430146    0.635859   -0.834998
C   -1.192753    0.341999   -0.395659    0.378401   -0.762397   -1.125804
D   -0.178104    0.242796   -0.025643    0.944764    0.918231    0.225870

In [18]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [21]:
df

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [24]:
# Sorting by an axis:
df, df.sort_index(axis=0 , ascending=False)

(                   A         B         C         D
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104
 2021-09-28 -0.875712  0.719016  0.341999  0.242796
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870,
                    A         B         C         D
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-28 -0.875712  0.719016  0.341999  0.242796
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104)

In [26]:
df,df.sort_index(axis=1) #ascending=False)

(                   A         B         C         D
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104
 2021-09-28 -0.875712  0.719016  0.341999  0.242796
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870,
                    A         B         C         D
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104
 2021-09-28 -0.875712  0.719016  0.341999  0.242796
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870)

#### Sort by value
- sort_values(by='column')

In [31]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104
 2021-09-28 -0.875712  0.719016  0.341999  0.242796
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870,
                    A         B         C         D
 2021-10-02 -0.088824 -0.834998 -1.125804  0.225870
 2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
 2021-09-27  0.077563  0.228965 -1.192753 -0.178104
 2021-09-30 -0.190818  0.430146  0.378401  0.944764
 2021-10-01 -0.786489  0.635859 -0.762397  0.918231
 2021-09-28 -0.875712  0.719016  0.341999  0.242796)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [29]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    0.077563
2021-09-28   -0.875712
2021-09-29   -0.485561
2021-09-30   -0.190818
2021-10-01   -0.786489
2021-10-02   -0.088824
Freq: D, Name: A, dtype: float64

In [32]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643

In [35]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231

#### Selecting data by label [중요!!]

> **loc, iloc**

In [36]:
df

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [37]:
df.loc[dates[0]]   # loc()

A    0.077563
B    0.228965
C   -1.192753
D   -0.178104
Name: 2021-09-27 00:00:00, dtype: float64

In [38]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  0.077563  0.228965
2021-09-28 -0.875712  0.719016
2021-09-29 -0.485561 -0.033540
2021-09-30 -0.190818  0.430146
2021-10-01 -0.786489  0.635859
2021-10-02 -0.088824 -0.834998

#### [DIY: 도전코딩]

> Select data for first two days AND colmumn 3,4 from df.

In [47]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]           #-> 필기시험

                   C         D
2021-09-27 -1.192753 -0.178104
2021-09-28  0.341999  0.242796

#### Selecting data by position (iloc())
- index 사용

In [46]:
df

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [48]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.190818
B    0.430146
C    0.378401
D    0.944764
Name: 2021-09-30 00:00:00, dtype: float64

In [50]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -1.192753 -0.178104
2021-09-28  0.341999  0.242796

In [51]:
# Select one item
df.iloc[1,1]

0.7190162422958153

In [54]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643

#### Selecting data by Boolean indexing

In [55]:
df

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104
2021-09-28 -0.875712  0.719016  0.341999  0.242796
2021-09-29 -0.485561 -0.033540 -0.395659 -0.025643
2021-09-30 -0.190818  0.430146  0.378401  0.944764
2021-10-01 -0.786489  0.635859 -0.762397  0.918231
2021-10-02 -0.088824 -0.834998 -1.125804  0.225870

In [58]:
df.A

2021-09-27    0.077563
2021-09-28   -0.875712
2021-09-29   -0.485561
2021-09-30   -0.190818
2021-10-01   -0.786489
2021-10-02   -0.088824
Freq: D, Name: A, dtype: float64

In [60]:
df > 0

                A      B      C      D
2021-09-27   True   True  False  False
2021-09-28  False   True   True   True
2021-09-29  False  False  False  False
2021-09-30  False   True   True   True
2021-10-01  False   True  False   True
2021-10-02  False  False  False   True

In [61]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  0.077563  0.228965 -1.192753 -0.178104

In [57]:
df[df > 0]

                   A         B         C         D
2021-09-27  0.077563  0.228965       NaN       NaN
2021-09-28       NaN  0.719016  0.341999  0.242796
2021-09-29       NaN       NaN       NaN       NaN
2021-09-30       NaN  0.430146  0.378401  0.944764
2021-10-01       NaN  0.635859       NaN  0.918231
2021-10-02       NaN       NaN       NaN  0.225870